.form-container {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 0 0 15%;
}

.listItemButtons{
    margin:3% 0 0 10%;
}

.form-container button {
    width: 100px;
    margin-left: 5%;
}
h3{ 
    margin-top: 0%;
    margin-bottom: 0;
}

h2{
    margin-top:0;
}

.InputItem{
    margin-left:5%;
    margin-top:0%;
}

.listChoices{
    margin:1.3% 0 1% 10%;
    background: lightgoldenrodyellow;
}

#listTypeDD{
    width:10em;
    margin:1% 0 10% 10%
}

